<template name="teams">
    <h3>Teams</h3> {{#if isCreatingTeam}}
    <form class="create-team">
        <input name="name" type="text">
        <button type="submit">Submit</button>
        <a class="cancel" href="#">Cancel</a>
    </form>
    {{else}}
    <a class="create" href="#">Create</a> {{/if}}
    <table class="table table-striped table-hover table-bordered">
        <tr>
            <th>Team Name</th>
            <th>Options</th>
        </tr>
        {{#each teams}}
        <tr>
            {{>team}}
        </tr>
        {{/each}}
    </table>
</template>
